@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.main_division {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(#d8ecfc, #fff);
}
.heading_div {
  height: 15vh;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.heading_div h1 {
  width: 40%;
}
.heading_div p {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 40%;
  font-size: 18px;
  font-weight: 600;
}
.box_main {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-direction: row;
}
.image_area {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 150px;
}
.master_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  height: 420px;
  width: 270px;
}
.master_box p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  line-height: 10px;
}
.crossed {
  text-decoration: line-through;
}
.dim {
  color: rgba(36, 35, 35, 0.902);
}
.master_box .bold {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  line-height: 12px;
}
.my_button {
  padding: 20px 16px;
}

.slide_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
}

@media (max-width: 830px) and (min-width: 500px) {
  .heading_div {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  .heading_div h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading_div p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .box_main {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-direction: row;
  }
}
@media (max-width: 500px) and (min-width: 0px) {
  .heading_div {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  .heading_div h1 {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading_div p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .box_main {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-direction: row;
  }
  .master_box p {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 15px;
    font-size: 18px;
    line-height: 10px;
  }
}

.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
  /*  */
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
